/* Estilo general del contenedor */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 10px;
}

/* Estilo de la columna izquierda (Lista de Pokémon) */
.left-column {
  flex: 1; 
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* Estilo de la columna derecha (Detalles del Pokémon) */
.right-column {
  flex: 2;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
    /* Quita display: flex; para que no utilice flexbox en estado responsive */
    display: block;
  }

  .left-column,
  .right-column {
    flex: 1; 
    max-width: 100%;
    margin-right: 0;
  }
}
