
/* Estilo para la imagen del Pokémon */
.pokemon-list-container li img {
  max-width: 50px;
  max-height: 50px;
}

/* Estilo para el contenedor principal */
.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px
}

/* Estilo para la lista de Pokémon */
.pokemon-list-container {
 
  list-style: none;
  padding: 0;
  margin: 0;
}

  /* Estilo para cada entrada de la Pokédex */
  .pokemon-list-container li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
  }

    /* Estilo para el número de Pokédex */
    .pokemon-list-container li span.pokemon-number {
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
      color: #555;
    }

    /* Estilo para el nombre del Pokémon */
    .pokemon-list-container li span.pokemon-name {
      font-size: 18px;
      font-weight: bold;
    }

    /* Estilo cuando se pasa el ratón sobre una entrada */
    .pokemon-list-container li:hover {
      background-color: #f5f5f5;
    }




/* Estilo para el contenedor de selección de región */
.region-selection-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilo para el contenedor de selección de región */
.region-selection-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilo para el texto "Selecciona una región:" */
.region-label {
  font-size: 18px;
  margin-right: 10px;
}

/* Estilo para el campo de selección de región */
select {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}


/* Estilo para el campo de búsqueda de Pokémon */
input[type="text"] {
  width: 98%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


/* Estilos para la tabla de recuentos */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

  table th,
  table td {
    padding: 10px;
    text-align: left;
  }

  table th {
    background-color: #333;
    color: white;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #ddd;
  }


.scrollable2 {
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}


.container {
  position: relative;
  text-align: center;
}

.pokemon-number {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}
