<div class="region-selection-container">
  <label class="region-label">Selecciona una región:</label>
  <select [(ngModel)]="selectedRegion" (change)="changeRegion(selectedRegion)">
    <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
  </select>
</div>

<input type="text" placeholder="Buscar Pokémon" [(ngModel)]="searchTerm" (input)="searchPokemon()" />
<br>
<div class="scrollable-container">
  <ul class="pokemon-list-container">
    <li *ngFor="let pokemon of pokemonList" (click)="selectPokemon(pokemon)">
      <img class="pokeball" src="assets/pokeball/nullball.png" alt="Pokeball" />
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      {{ pokemon.name}}
    </li>
  </ul>
</div>

<div class="scrollable2">
  <table>
    <thead>
      <tr>
        <th>Letra</th>
        <th>Número de Pokémon</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of letterCounts | keyvalue">
        <td>{{ entry.key }}</td>
        <td>{{ entry.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
